@charset "utf-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	font-family: "San Francisco Display Regular", "San Francisco Display SemBd", "San Francisco Display Thin", "San Francisco Display UltLt", "San Francisco Text BldIta G1", 'san serif';
}

/* Body */

body {
  font-family: sans-serif;
  color: #333;
	display: flex;
     justify-content: flex-end;
     align-items: center;
     min-height: 100vh;
     flex-direction: column;
}	

.product_list{
	padding-left: 91px;
	padding-right: 91px;
	align-content: center;
	list-style-type: none;
}
.product_item {
   float: left;
   width:220px;
   display:block;
	text-align: center;
	text-decoration: none;
	align-content: center;
	text-decoration-line: none;
}
.product_item span{
    text-decoration: none;
}
.product_item a.href{
    text-decoration: none;
}
.product_item h2 {
   width:220px;
   display:block;
	text-align: center;
	text-decoration: none;
	align-content: center;
	text-decoration-color: black;
	font-size: 20px;
	color: black;
	text-decoration-line: none;
}

.product_item h3 {
   width:220px;
   display:block;
	text-align: center;
	text-decoration: none;
	text-decoration-color: black;
	text-decoration-line: none;
	font-size: 16px;
	color: black;
}

/* Header */
.header {
	width: 100%;
  overflow: hidden;
  background-color: #121212;
  padding-top: 20px;
  font: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	
}

/* body */

/* header */
.header h1 {
 color: white;
}

.header a {
  float: left;
  color: #999;
  text-align: center;
  padding-bottom: 12px;
	padding-right: 20px;
	padding-left: 15px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header a.logo {
padding-left: 91px;
}
/* Hiệu ứng text */
.header a:hover {
  text-decoration-color: white;
  color: white;
}
/* click hiện lên*/
.header a.active {
  color: #999;
}
/* phần thanh menu phải */
.header-right {
	padding-right: 91px;
	padding-top: 9px;
  float: right;
}
/* fit all screen */ 
@media screen and (max-width: 768px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
/* San pham moi */
h1 { 
text-align: center;
	align-content: center;
	align-self: center;
	padding-left: 4px;
	padding-top: 10px;
	font-family: Roboto,"San Francisco Display SemBd", "San Francisco Text BldIta G1";
	font-style: bold;
	font-size: 45px;
	font-display: optional;	
}
h2 {
    text-decoration: none;
}
h5 {
	font-size: 22px;
	color: black;
	text-decoration: none;
}
h4 {
	color: white;
	text-decoration-color: white;
	background: white;
}
.product_item {
   float:left;
   width:220px;
   display:block;
	padding-right: 20px;
}

/* Product */

.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  max-width: 220px;
  margin: auto;
  text-align: left;
  font-family: arial;
	display:block;
	float: left;
	text-decoration: none;
	text-decoration-style: none;
}

.price {
  color: grey;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
}

.products {
   list-style-type: none;
}

.products li {
   display: block;
   float: left;
   width: 225px;
   text-align: center;
}

/*== Footer ==*/
footer{
     position: relative;
     width: 100%;
     height: auto;
     padding: 50px 100px;
     background: #121212;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
footer .container{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     flex-direction: row;
 }
/*== Giới thiệu ==*/
footer .container .noi-dung{
     margin-right: 30px;
 }
footer  .container .noi-dung.about{
     width:40%;
 }
 footer .container .noi-dung.about h2{
     position: relative;
     color: #fff;
     font-weight: 500;
     margin-bottom: 15px;
 }
 footer .container .noi-dung.about h2:before{
     content: '';
     position: absolute;
     bottom: -5px;
     left: 0;
     width: 50px;
     height: 2px;
     background: #f00;
 }
footer .container .noi-dung.about p{
     color: #999;
 }
 /*Icon*/
 .social-icon{
     margin-top: 20px;
     display: flex;
 }
.social-icon li {
     list-style: none;
 }
 .social-icon li a{  
	 display: inline-block;
     width: 40px;
     height: 40px;
     background: #222;
     /* display: flex; */
     justify-content: center;
     align-items: center;
     margin-right: 10px;
     text-decoration: none;
     border-radius: 14px;
 }
.social-icon li a:hover{
     background: white;
 }
.social-icon li a .fa{
     color: #fff;
     font-size: 20px;
 }
/*== link ==*/ 
.links h2{
     position: relative;
     color: #fff;
     font-weight: 500;
     margin-bottom: 15px;
 }
/*== Link ==*/
.links h2{
     position: relative;
     color: #fff;
     font-weight: 500;
     margin-bottom: 15px;
 }
.links h2::before{
     content: '';
     position: absolute;
     bottom: -5px;
     left: 0;
     width: 50px;
     height: 2px;
     background: #f00;
 }
.links{
    position: relative;
    width: 25%;
 }
 .links ul li{
     list-style: none;
 }
 .links ul li a{
     color: #999;
     text-decoration: none;
     margin-bottom: 10px;
     display: inline-block;
 }
.links ul li a:hover{
     color: #fff;
 }
/*== Contact ==*/ 
.contact h2{
     position: relative;
     color: #fff;
     font-weight: 500;
     margin-bottom: 15px;
 }
.contact h2::before{
     content: '';
     position: absolute;
     bottom: -5px;
     left: 0;
     width: 50px;
     height: 2px;
     background: #f00;
 }
.contact{
     width: calc(35% - 60px);
     margin-right: 0 !important;
 }
.contact .info{
     position: relative;
 }
 .contact .info li{
     display: flex;
     margin-bottom: 16px;
 }
 .contact .info li span:nth-child(1) {
     color: #fff;
     font-size: 20px;
     margin-right: 10px;
 }
.contact .info li span{
     color: #999;
 }
.contact .info li a{
     color: #999;
     text-decoration: none;
		text-decoration-color: #999;
 }
/*== fit all screen ==*/
@media  (max-width: 768px){
     footer{
         padding: 20px;
              }
     footer .container{
         flex-direction: column;
     }
     footer .container .noi-dung{
         margin-right: 0;
         margin-bottom: 40px;
     }
     footer .container, .noi-dung.about, .links, .contact{
         width: 100%;
     }
 }
